body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6fb;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.tabela-notas {
    margin: 0 auto;
    border-collapse: separate; 
    border-spacing: 0;
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}


.tabela-notas thead {
    background-color: #8a54ed;
    color: white;
}

.tabela-notas th {
    padding: 12px;
    font-size: 16px;
}

.tabela-notas td {
    padding: 10px;
}


.tabela-notas tbody tr:nth-child(even) {
    background-color: #f9fbff;
}s

.tabela-notas tbody tr:hover {
    transform: scale(1.01);
    transition: 0.2s;
    cursor: default;
}
